<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advices</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <p><%= number_id %></p>
        <h1 class="advice"> <%= advice %> </h1>
        <hr>
        <form action="/" method="post"><button></button></form>
    </div>
    <div class="main">
        <p>Rhyme for Friend</p>
        <h1>Ilyos <%= curse %> </h1>
    </div>
</body>
</html>